# 此配置用于在 Jacoco 覆盖率统计中忽略 Lombok 生成的代码
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true

# 修复 @Data 注解默认 callSuper=false 导致的问题
lombok.equalsAndHashCode.callSuper = skip

# 使 @Qualifier 注解能够被 Lombok 复制到生成的字段和方法上
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
